* {
    margin: 0px;
    padding: 0px;
    /* font-family: 'DM Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 550vh;
    /* margin-left: 40px;  */
    background-size: cover;
    background-position: center;
    background-color:black;

}
html {
    scroll-behavior: smooth;
}


.header-text {
    margin-left: 40px;
}

.logo {
    width: 160px;
    height: auto;
}

.container {
    padding: 10px, 10%;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px, 20px;
    padding-right: 30px;
    padding-top: 5px;
}

nav ul li a {
    /* color: rgb(99, 124, 200); */
    color: rgb(126, 166, 240);
    /* color: antiquewhite; */
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    position: relative;
    /* font-family: 'Anton', sans-serif; */
}
#sidemenu ul li {
    font-weight: 900;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background:  rgb(203, 35, 102);
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}
nav i{
    color:rgb(126, 166, 240);
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    color: rgb(126, 166, 240);
    margin-top: 10%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: rgb(203, 35, 102);
}

/* ......About..... */
#about {
    padding: 80px 0px;
    /* color:rgb(224, 134, 144); */
    /* color: aliceblue; */
    /* font-size: 20px; */
    color: rgb(126, 166, 240);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 120px;
}

.about-col-1 {
    flex-basis: 45%;
    /* margin-left: -10px; */
    margin-left: 20px;
}

.about-col-2 {
    flex-basis: 52%;
    /* margin-left: 110px; */
    box-sizing: border-box;
    margin-top: 20px;
    padding: 20px;
    margin-top: -20px;
    padding-left: -50px;
}
.about-col-2 .subtitle{
    color: rgb(203, 35, 102);
}
#Projects h1.subtitle,
#contact h1.sub-tittle {
    color: rgb(203, 35, 102);
}
.about-col-1 img {
    width: 90%;
    border-radius: 15px;
    height: 420px;
}

.subtitle {
    font-size: 60px;
    font-weight: 600px;
}

.tab-titles {
    display: flex;
    margin: 20px 0px 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background: white;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0px;
}

.tab-contents ul li span {
    color: rgb(203, 35, 102);
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

#services {
    padding: 30px 0px;
    color: rgb(126, 166, 240);
    margin-left: 40px;
    /* margin-left: 20px; */
}
#services h1{
    color: rgb(203, 35, 102);
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 55px;
    margin-right: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 12px;
    /* transition: background 0.5s, transform 0.5s; */
    transition: background 0.5s, transform 0.5s;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: rgb(126, 166, 240);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background-color: rgb(121, 29, 66);
    transform: translateY(-10px);
}

/* .......Projects........ */
#Projects {
    color: rgb(126, 166, 240);
    margin-left: 40px;
}

.subtitle {
    font-size: 60px;
    font-weight: 600px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-right: 40px;

}

.work img {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    display: block;
    padding: 10px;
    transition: transform 0.5s;

}
.layer a{
    color: rgb(203, 35, 102);
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: rgb(126, 166, 240);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),  rgb(203, 35, 102));
    border-radius: 10px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0,40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 800;
    margin-bottom: 20px;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer {
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgb(203, 35, 102);
    padding: 15px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: aliceblue;
    transition: background 0.5s;
}
.btn:hover{
    background-color: rgb(203, 35, 102) ;
}
.btn.clicked {
    background-color: rgb(203, 35, 102);
}
form .btn2 {
    /* Add this CSS */
    margin-left: 300px;
    display: block;
}
form .btn2:hover{
    background-color: rgb(203, 35, 102) ;

}
.subtitle h1{
    color: rgb(203, 35, 102);
}
/* .btn2:hover{
} */
#contact{
    color:  rgb(126, 166, 240);
    padding-left: 40px;
    /* font-size: 40px; */
}
#contact h1{
    font-size:50px;
}
#contact p{
    color: #ababab ;
    /* font-size: 20px; */
}
.contact-left {
    flex-basis: 35%; /* Adjust the width as needed */
}

.contact-right {
    flex-basis: 60%; /* Adjust the width as needed */
}

.contact-left p{
    margin-top: 20px;
}

.contact-left p i{
    color:rgb(203, 35, 102);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: rgb(203, 35, 102);
    transform: translateY(-3px);
}
.btn.btn2{
    background-color:black;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 80%;
    border: 0;
    outline: none;
    background-color: #ababab;
    padding: 15px;
    margin: 15px 0px;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}
form btn2{
    padding: 14px 60px;
    background-color: #262626;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
 nav .fa-solid{
    display: none;
    margin-right: 30px;
}
/* * css for small screen  */ 
@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background:rgb(203, 35, 102);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s ;

    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .subtitle{
        font-size: 40px;
    }
    .about-col-1.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    #header {
        height: 1070vh;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    form .btn2 {
        /* width: 80%; Adjust the width as needed */
        margin: 0 auto; /* Center the button */
        margin-left: 2px;
    }
    .btn{
        margin: 0 auto; /* Center the button */
        margin-left: 2px;
    }
    .about-col-1 img {
        width: 300px; /* Set the image width to 100% */
        border-radius: 10px;
        height: auto;
        margin-top: -10px;
    }
}
#msg{
    color: #6aa160;
    margin-top: -150px;
    display: block;
    margin-right: 10px;
}